<div>Hello Detail d'une blague </div>
<div> <h1>Titre de la blague : <%= @blague.nom%></h1>
<div> <h3>Contenu de la blague :</h3><p><%= @blague.contenu%></p>
<div> <em>Auteur de la blague : <%= @blague.auteur%> </em>
</div>